<!DOCTYPE html>
<html lang="en">

<%- include("component/head") %>

<body>
  <div id="basic_outer_div">
    <%- include("component/header",{param:{fileName:obj.fileName}}) %>

    <h1>
      <%= obj.title %>
    </h1>
    <p id="author">
      <span> <%= obj.author %> </span>
      <span> <%= obj.createTime %> </span>
    </p>
    <%- obj.content %>

    <%- include("component/footer") %>
  </div>

  <script src="lib/prismjs/prism.js"></script>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  <script>
    MathJax = {
      tex: {
        inlineMath: [['$', '$', '$$', '$$'], ['\\(', '\\)', '\\[', '\\]']],
      }
    };
  </script>
</body>

</html>