<!DOCTYPE html>
<html lang="en">

<%- include("component/head") %>

<body>
  <%- include("component/header") %>
  <div id="basic_outer_div">

    <p id="title"> <%= obj.title %> </p>
    <p id="author">
      <span> <%= obj.author %> | <%= obj.createTime %> | <a href="/edit?n=<%= obj.fileName %>">edit</a></span>
    </p>

    <%- obj.content %>

  </div>
  <%- include("component/footer") %>
  <%- include("component/body_scripts") %>
</body>

</html>