<!DOCTYPE html>
<html lang="en">
<%- include("component/head") %>

<body>
  <%- include("component/header") %>
  <div id="basic_outer_div">

    <%- obj.content%>

  </div>
  <%- include("component/footer") %>
  <%- include("component/body_scripts") %>
</body>

</html>
