<!doctype html>
<html lang="en">

<%- include("component/head") %>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.0/codemirror.min.css">
<style>
  .CodeMirror {
    border: 1px solid #eee;
    height: auto;
    font-size: 0.9em;
  }
</style>

<body onLoad="OnBodyLoad()">
  <div id="basic_outer_div_edit">
  
    <div id="float_buttons">
      <center>
        <span><button type="button" id="Delete" onclick='Delete()'>Delete</button></span>
        <span><button type="button" id="Cancel" onclick='Cancel()'>Cancel</button></span>
        <span><button type="button" id="Save" onclick='Save()'>Save</button></span>
        <span><button type="button" id="SaveAndExit" onclick='SaveAndExit()'>SaveAndExit</button></span>
      
        <span><input type="text" id="inputTitle" style="width:300px;" placeholder="<title>" value="<%- obj.title %>" /></span>
        <span><input type="text" id="inputAuthor" style="width:100px;" placeholder="<author>"
            value="<%- obj.author %>" /></span>
        <span><input type="text" id="inputCategory" style="width:100px;" placeholder="<category>"
            value="<%- obj.category %>" /></span>
        <span><input type="text" id="inputTemplate" style="width:200px;" placeholder="<template>"
            value="<%- obj.template %>" /></span>
        <span><input type="checkbox" id="cbTypeMap" onchange="ChangeTypeMode()" />vim mode</span>
      </center>
    </div>

    <div id="editor">
      <div class="containers">
        <div class="container">
          <textarea id="markdown" class="inputPane" form="myform" name="content"><%- obj.content %></textarea>
        </div>
        <div class="container">
          <iframe id="preview" src="/edit/previewHtml"></iframe>
        </div>
      </div>
    </div>

  </div>

  <script src="/lib/custom/editor.js" defer></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.8.1/marked.min.js" defer></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.0/codemirror.min.js" defer></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.0/mode/markdown/markdown.min.js" defer></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.2/addon/selection/active-line.min.js" defer></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.2/keymap/vim.min.js" defer></script>

</body>

</html>