<!DOCTYPE html>
<html lang="en">
<%- include("component/head") %>

<body>
  <div id="basic_outer_div">
    <%- include("component/header") %>

    <%- obj.content%>

    <%- include("component/footer") %>
  </div>
  <%- include("component/body_scripts") %>
</body>

</html>
