<!DOCTYPE html>
<html lang="en">

<%- include("component/head") %>

<body>
  <div id="basic_outer_div">

    <%- include("component/header") %>

    <h1> Oops!!</h1>
    <p>you have No permission to edit this file! click <a href="/view?n=<%= obj.fileName %>&t=<%= obj.type %>">here</a>
      to
      go back.</p>

    <%- include("component/footer") %>
  </div>
</body>

</html>