<!DOCTYPE html>
<html lang="en">

<%- include("component/head") %>

<body>
  <div id="basic_outer_div">

    <%- include("component/header") %>

    <ul class="articles">
      <li>
        <p>This file is NOT exist,click to <a href="/edit?n=<%= obj.fileName %>&t=<%= obj.type %>">create.</a></p>
      </li>
    </ul>

    <%- include("component/footer") %>
  </div>
</body>

</html>