<!DOCTYPE html>
<html lang="en">

<%- include("component/head") %>

<body>
  <div id="basic_outer_div">

    <%- include("component/header") %>

    <ul class="articles">
      <% obj.forEach(function(item){ %>
      <li>
        <!-- p class="description"><%= item.description %></p-->
        <!--p class="description"><%= item.author %></p-->
        <span><a href="/view?n=<%= item.fileName %>"><%= item.title %></a></span>
        <span class="date"><%= item.createTime %></span>
      </li>
      <% }); %>
    </ul>

    <%- include("component/footer") %>
  </div>
</body>

</html>