<!DOCTYPE html>
<html lang="en">

<%- include("component/head") %>

<body>
  <%- include("component/header") %>
  <div id="basic_outer_div">

    <h1>These articles were modified/created/deleted recently.</h1>

    <ol class="history">
      <% obj.forEach(function(item){ %>
      <li>
        <span><a href="/view?n=<%= item.fileName %>"><%= item.title %></a></span>
        <span class="date"><%= item.action %></span>
        <span class="date"><%= item.time %></span>
      </li>
      <% }); %>
    </ol>

  </div>
  <%- include("component/footer") %>
</body>

</html>