<!DOCTYPE html>
<html lang="en">

<%- include("component/head") %>
<link rel="stylesheet" href="/css/prism.css" data-noprefix />

<body>
  <div class="wrapper">
    <%- include("component/header",{param:{fileName:obj.fileName}}) %>

    <h1>
      <%= obj.displayName %>
    </h1>
    <h3 class="author">
      <span> <%= obj.author %> </span>
      <span> <%= obj.displayTime %> </span>
    </h3>
    <%- obj.mdHtml %>

    <%- include("component/footer") %>
  </div>

  <script src="/js/prism.js"></script>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  <script>
    MathJax = {
      tex: {
        inlineMath: [['$', '$', '$$', '$$'], ['\\(', '\\)', '\\[', '\\]']],
      }
    };
  </script>
</body>

</html>